body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-arrow {
  background-color: black !important;
  padding: 1rem !important;
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 50%;
}

@media screen and (max-width: 768px){
  .slick-arrow {
    display: none !important;
  }
}

.slick-prev {
  left: -50px !important;
}

.slick-next {
  right: -50px !important;
}

.gradientBlueDark {
  background: rgb(7,34,106);
  background: -moz-linear-gradient(90deg, rgba(7,34,106,1) 0%, rgba(1,44,196,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(7,34,106,1) 0%, rgba(1,44,196,1) 100%);
  background: linear-gradient(90deg, rgba(7,34,106,1) 0%, rgba(1,44,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07226a",endColorstr="#012cc4",GradientType=1);
  color: #fff;
  background-image: url('Assets/bg-tech.jpg');
  background-blend-mode: darken;
}